.home{
    /* border: 2px solid red; */
    z-index: 1;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 75px;
    width: 100%;
    position: relative;
    /* m-width: 99%; */
    scroll-behavior: smooth;
}
.top-img{
    /* border: 2px solid yellow; */
}
.sellall-bttn{
    cursor:pointer;
    color:green;
    border:none;
    outline:none;
    background-color:white;
    font-weight:bold;
    padding:0px;
    font-size:17px;
}
#home-img-1{
    width: 100%;
    cursor: pointer;
}
.mid-img{
    display: flex;
    /* border: 2px solid blue; */
    padding: 20px;
    max-width: 89%;
    justify-content: space-between;
}
.mid-images{
    width: 340px;
    cursor: pointer;
}
.bottom-banner-imgs{
    /* border: 2px solid blue;  */
    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: 122px 122px 122px 122px 122px 122px 122px 122px 120px 120px;
}
.bottom-images{
    width: 100px;
    cursor: pointer;
}
.home-bottom-products{
    /* border: 2px solid green; */
}
.head{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid blue; */
    padding-right: 20px;
    align-items: center;
}
.items{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* border: 2px solid green; */
    /* padding: 0px 10px; */
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    position: relative;
    scroll-behavior: smooth;
}
.box{
    border: 2px solid rgb(234, 233, 233);
    border-radius: 10px;
    min-width: 14%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    /* margin-bottom: 20px; */
    scroll-snap-align: start;
    z-index: 0;
    /* cursor: pointer; */
    justify-content: space-between;
}
.item-photo{
    align-items: center;
    justify-content: center;
    display: flex;
}
.item-image{
    /* border: 2px solid green; */
}
#img{
    width: 120px;
    cursor: pointer;
}
.stuffs{
    /* border: 2px solid blue; */
}
#clock-time{
    display: flex;
    font-size: 10px;
    background-color: rgb(243, 243, 243);
    width: 26%;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    justify-content: space-between;
}
#curr-title{
    font-size: 13px;
    font-weight: bold;
}
#curr-weight{
    font-size: 13px;
    color: rgb(126, 126, 126);
}
.price-bttn{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    align-items: center;
}
#curr-price{
    font-size: 13px;
    font-weight: bold;
}
#add-bttn{
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid green;
    color: green;
    font-weight: bold;
    cursor: pointer;
}
.arrow,
.arrow1 {
    background-color: rgb(232, 232, 232);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    border: 1px solid lightgray;
    transform: translateY(-650%);
    z-index: 192;
    
}

.arrow {
    right: -18px;
}

.arrow1 {
    left: -18px;
}
.roll-pap-tob{
    /* border: 2px solid yellow; */
    margin-top: 20px;
    margin-bottom: 20px;
}
.snacks{
    margin-bottom: 20px;
}