.pharmacy{
    z-index: 1;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 75px;
    width: 100%;
    /* border: 2px solid red; */
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}